<footer>
    <div class="logo-wrap">
        <a class="logo-link" href="/" title="StayOnTheGo">
            <img class="logo-img" src="/images/stay-on-the-go-logo.png" alt="Stay On The Go Logo">
        </a>
    </div>

    <div id="footer-row">
        <ul id="footer-links">
            <li class="footer-item">
                <a class="footer-link" href="/"><span>Home</span>
                </a>
            </li>
            <li class="footer-item">
                <a class="footer-link" href="/rentals/rentals"><span>Rentals</span>
                </a>
            </li>
            {{#if user}}
            <li class="footer-tem">
                <a class="footer-link" href="/log-out"><span>Log out</span>
                </a>
            </li>
            {{else}}
            <li class="footer-item">
                <a class="footer-link" href="/log-in"><span>Log in</span>
                </a>
            </li>
            <li class="footer-item">
                <a class="footer-link" href="/sign-up"><span>Sign up</span>
                </a>
            </li>
            {{/if}}
        </ul>

        <div id="social-media-icons">
            <a id="facebook" class="sm-icon" href="https://www.facebook.com" aria-label="Facebook" title="Facebook" target="_blank">
                <i class="fab fa-facebook"></i>
            </a>
            <a id="twitter" class="sm-icon" href="https://www.twitter.com" aria-label="Twitter" title="Twitter" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
            <a id="linkedin" class="sm-icon" href="https://www.linkedin.com" aria-label="Linkedin" title="Linkedin" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
            <a id="youtube" class="sm-icon" href="https://www.youtube.com" aria-label="YouTube" title="YouTube" target="_blank">
                <i class="fab fa-youtube"></i>
            </a>
        </div>
    </div>
    <div id="academic-integrity">
        <blockquote class="blockquote">
            By submitting this assignment I declare that this assignment is my own work in accordance with
            the Seneca Academic Policy. No part of this assignment has been copied manually or
            electronically from any other source (including web sites) or distributed to other students.
            <cite>
                © Sunchit Singh, sunchit-singh@myseneca.ca, WEB322 Winter 2023
            </cite>
        </blockquote>
    </div>

</footer>