<section id="log-in-block" class="border">
    <h2 class="mb-3">Forgot Password</h2>
    <form id="log-in" method="post" action="/forgot-password-1">
        <label for="email" class="form-label">Email Address</label>
        <input type="email" id="email" class="form-control {{#if validationMessages.email}}is-invalid{{/if}}" name="email" autocomplete="email" value="{{values.email}}" tabindex="1">
        {{#if validationMessages.email}}
        <div class="invalid-feedback">{{validationMessages.email}}</div>
        {{/if}}

        <input type="submit" id="submit" class="btn btn-outline-primary mt-4" value="Get OTP" tabindex="2">
    </form>
</section>