<section id="log-in-block" class="border">
    <h2 class="mb-3">Forgot Password</h2>
    <form id="log-in" method="post" action="/forgot-password-2/{{id}}">
        <label for="email" class="form-label">Enter One Time Password (OTP)</label>
        <input type="text" id="otp" class="form-control {{#if validationMessages.otp}}is-invalid{{/if}}" name="otp" tabindex="1">
        {{#if validationMessages.otp}}
        <div class="invalid-feedback">{{validationMessages.otp}}</div>
        {{/if}}

        <input type="submit" id="submit" class="btn btn-outline-primary mt-4" value="Continue" tabindex="2">
    </form>
</section>