<section id="log-in-block" class="border">
    <h2 class="mb-3">Welcome back</h2>
    <form id="log-in" method="post" action="/log-in">
        <label for="email" class="form-label">Email Address</label>
        <input type="text" id="email" class="form-control {{#if validationMessages.email}}is-invalid{{/if}}" name="email" autocomplete="email" value="{{values.email}}" tabindex="1">
        {{#if validationMessages.email}}
        <div class="invalid-feedback">{{validationMessages.email}}</div>
        {{/if}}


        <div class="row">
            <label for="password" class="form-label mt-2">Password</label>
            <div class="col password-col">
                <input type="password" id="password" class="form-control {{#if validationMessages.password}}is-invalid{{/if}}" name="password" autocomplete="current-password" value="{{values.password}}" tabindex="2">
                {{#if validationMessages.password}}
                <div class="invalid-feedback" aria-describedby="password">{{validationMessages.password}}</div>
                {{/if}}
            </div>
            <div class="col eye-col" {{#if validationMessages.password}}style="top: 40%; right: 18%"{{/if}}>
                
                <input type="checkbox" class="btn-check" id="btn-check" autocomplete="off" onclick="checkPassword()" tabindex="3">
                <label class="btn" for="btn-check" id="eye"><i class="fa fa-eye-slash"></i></label>
            </div>
        </div>
        

        <input type="submit" id="submit" class="btn btn-outline-primary mt-4" value="Log in" tabindex="4">
    </form>
</section>