<section id="log-in-block" class="border">
    <h2 class="mb-3">Welcome back</h2>
    <form id="log-in" method="post">
        <label for="email" class="form-label">Email Address</label>
        <input type="text" id="email" class="form-control {{#if validationMessages.email}}is-invalid{{/if}}" name="email" autocomplete="email" value="{{values.email}}" tabindex="1">
        {{#if validationMessages.email}}
        <div class="invalid-feedback">{{validationMessages.email}}</div>
        {{/if}}


        <div class="row">
            <label for="password" class="form-label mt-2">Password</label>
            <div class="col password-col">
                <input type="password" id="password" class="form-control {{#if validationMessages.password}}is-invalid{{/if}}" name="password" autocomplete="current-password" value="{{values.password}}" tabindex="2">  
                <i class="fa fa-eye-slash eye-icon" id="eye" onclick="checkPassword()" {{#if validationMessages.password}}style="top: 30%; right: 18%"{{/if}}></i>
                {{#if validationMessages.password}}
                <div class="invalid-feedback">{{validationMessages.password}}</div>
                {{/if}}
            </div>
        </div>
        

        <input type="submit" id="submit" class="btn btn-outline-primary mt-4" value="Log in" tabindex="3">
    </form>
</section>