<section id="log-in-block" class="border">
    <h3 class="mb-3">Sign Up</h3>
    <p class="text-center">Create your account by entering your email address and choosing a password</p>
    <form id="log-in">
        <label for="fname" class="form-label">First Name</label>
        <input type="text" id="fname" class="form-control" name="fname" autocomplete="given-name" tabindex="1">

        <label for="lname" class="form-label mt-2">Last Name</label>
        <input type="text" id="lname" class="form-control" name="lname" autocomplete="family-name" tabindex="2">

        <label for="email" class="form-label mt-2">Email Address</label>
        <input type="text" id="email" class="form-control" name="email" autocomplete="email" tabindex="3">

        <div class="row">
            <label for="password" class="form-label mt-2">Password</label>
            <div class="col password-col">
                <input type="password" id="password" class="form-control mb-4" name="password" autocomplete="current-password" tabindex="4">
            </div>
            <div class="col eye-col">
                
                <input type="checkbox" class="btn-check" id="btn-check" autocomplete="off" onclick="checkPassword()">
                <label class="btn" for="btn-check" id="eye"><i class="fa fa-eye-slash"></i></label>
            </div>
        </div>

        <input type="submit" id="submit" class="btn btn-outline-primary" value="Sign up today" tabindex="5">
    </form>
</section>