#edit-block {
    width: 50%;
    margin: 0 auto;
    padding: 50px 50px;
    position: relative;
    top: 25vh;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #acacbb;
}

form {
    width: 100%;
}


#submit {
    width: 100%;
    border-color: #341a73;
    color: #341a73;
    background-color: unset;
}

#submit:hover {
    background-color: #341a73;
    color: white;
}


@media only screen and (max-width: 992px) {
    #edit-block {
        width: 50%;
    }
}

@media only screen and (max-width: 800px) {
    #edit-block {
        width: 60%;
    }
}

@media only screen and (max-width: 768px) {
    #edit-block {
        top: 30vh;
    }
}

@media only screen and (max-width: 540px) {
    #edit-block {
        top: 30vh;
        width: 70%;
        padding: 40px 25px;
    }
}

@media only screen and (max-width: 480px) {
    #edit-block {
        top: 20vh
    }
}

@media only screen and (max-width: 420px) {
    #edit-block {
        width: 80%;
    }
}
